In [57]:
import pandas as pd 
pd.set_option('display.max_columns', None)

In [58]:
INPUT_DIR = '../input/'
OUTPUT_DIR = '../output/'
IMAGE_DIR = '../image/'
SUBMISSION_ID_COLUMN = 'PassengerId'
SUBMISSION_OUTPUT_COLUMN = 'Transported'

In [59]:
# Load train data
df = pd.read_csv(f"{INPUT_DIR}train.csv")
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

### EDA

In [60]:
df.columns = df.columns.str.lower()
df.head()

,passengerid,homeplanet,cryosleep,cabin,destination,age,vip,roomservice,foodcourt,shoppingmall,spa,vrdeck,name,transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [61]:
df.shape

(8693, 14)

In [62]:
# check for null
df.isna().sum()

passengerid       0
homeplanet      201
cryosleep       217
cabin           199
destination     182
age             179
vip             203
roomservice     181
foodcourt       183
shoppingmall    208
spa             183
vrdeck          188
name            200
transported       0
dtype: int64

In [63]:
# divide cabin into three columns
# df['cabin_1'] = df['cabin'].astype(str).str.split('/')[0]
# df['cabin_2'] = df['cabin'].astype(str).str.split('/')[1]
# df['cabin_3'] = df['cabin'].astype(str).str.split('/')[2]
# df
# cabin_df = df.loc[df['cabin'].notna()]
# df[['cabin_1', 'cabin_2', 'cabin_3']] = df['cabin'].astype(str).str.split('/', n=2, expand=True)
# cabin_df['cabin_2'] = cabin_df['cabin'].astype(str).str.split('/')[1]
# cabin_df['cabin_3'] = cabin_df['cabin'].astype(str).str.split('/')[2]
# df['cabin_1'].value_counts() # no null
# df['cabin_2'].loc[df['cabin_2'].notna()].astype(int).mean() # 109 null, set to mean() --> 600
# df['cabin_3'].isna().sum() # 199, all S or P, set to na
# df['cabin_1'].isna().sum() # 0 
# df['age'].value_counts()
# df['age'].isna().sum() # 182 null, set to na
# df['age'][df['age'].notna()].median() # 27.0
# df['vip'].isna().sum() # 203
# df['vip'].value_counts()
# df['vip'] = df['vip'].astype(bool)
# values = {'vip': pd.NA}
# df.fillna(value=values, inplace=True)
# df['vip'].isna().sum()
# df['roomservice'].value_counts()
# # groupby syntax: df.groupby(['col1','col2']).size(), df.groupby(['Name', 'Fruit'])['Number'].sum() 
# df.groupby(['roomservice'])['roomservice'].count() # works! 0.0 is highest so that can be value for fillna()
# df.groupby(['foodcourt'])['foodcourt'].count() # 0.0 highest use as fillna()
# df.groupby(['shoppingmall'])['shoppingmall'].count() # 0.0 highest use as fillna()
# df.groupby(['spa'])['spa'].count() # 0.0 highest use as fillna()
# df.groupby(['vrdeck'])['vrdeck'].count()  # 0.0 highest use as fillna()

In [64]:
df.dtypes

passengerid      object
homeplanet       object
cryosleep        object
cabin            object
destination      object
age             float64
vip              object
roomservice     float64
foodcourt       float64
shoppingmall    float64
spa             float64
vrdeck          float64
name             object
transported        bool
dtype: object

In [65]:
df['transported'].value_counts() # True false in even number.

True     4378
False    4315
Name: transported, dtype: int64

### Helper method to clean up, encoding.

In [66]:
def cleanup(df: pd.DataFrame) -> pd.DataFrame:
    
    # convert columns to lowercase for convenience
    df.columns = df.columns.str.lower()
    
    # drop columns not required
    cols_to_drop = ["passengerid", "name"]
    for col in cols_to_drop:
        df.drop(col, axis=1, inplace=True)
        
    # split cabin columns into 3 columns
    df[['cabin_1', 'cabin_2', 'cabin_3']] = df['cabin'].astype(str).str.split('/', n=2, expand=True)
    df.drop('cabin', axis=1, inplace=True)
    
    # convert boolean types from object
    df['cryosleep'] = df['cryosleep'].astype(bool)
    df['vip'] = df['vip'].astype(bool)
    df['cabin_2'] = df['vip'].astype(bool)
    
    # fill null values
    fill_values = {'homeplanet': 'na', 
                   'cryosleep': pd.NA, 
                   'cabin_1': 'na',
                   'cabin_2': -1, 
                   'cabin_3': 'na', 
                   'destination': 'na',
                   'age': df['age'][df['age'].notna()].median(),
                   'vip': pd.NA,
                   'roomservice': 0.0,
                   'foodcourt': 0.0,
                   'shoppingmall': 0.0,
                   'spa': 0.0,
                   'vrdeck': 0.0         
                  }
    df.fillna(value=fill_values, inplace=True)
    
    # convert ojects to category
    cols_to_convert = ['homeplanet', 'destination', 'cabin_1', 'cabin_3']
    for col in cols_to_convert:
        df[col] = df[col].astype('category')
    
    return df

df = cleanup(df)
df.isna().sum()

homeplanet      0
cryosleep       0
destination     0
age             0
vip             0
roomservice     0
foodcourt       0
shoppingmall    0
spa             0
vrdeck          0
transported     0
cabin_1         0
cabin_2         0
cabin_3         0
dtype: int64

In [67]:
from pandas import get_dummies

def one_hot_encoding(df: pd.DataFrame) -> pd.DataFrame:
    return pd.get_dummies(df, columns=['homeplanet', 'destination', 'cabin_1', 'cabin_3'], 
               prefix=['homeplanet', 'destination', 'cabin_1', 'cabin_3'])
df = one_hot_encoding(df)
df

,cryosleep,age,vip,roomservice,foodcourt,shoppingmall,spa,vrdeck,transported,cabin_2,homeplanet_Earth,homeplanet_Europa,homeplanet_Mars,homeplanet_na,destination_55 Cancri e,destination_PSO J318.5-22,destination_TRAPPIST-1e,destination_na,cabin_1_A,cabin_1_B,cabin_1_C,cabin_1_D,cabin_1_E,cabin_1_F,cabin_1_G,cabin_1_T,cabin_1_nan,cabin_3_P,cabin_3_S,cabin_3_na
0,False,39.0,False,0.0,0.0,0.0,0.0,0.0,False,False,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
1,False,24.0,False,109.0,9.0,25.0,549.0,44.0,True,False,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0
2,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,True,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0
3,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,False,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0
4,False,16.0,False,303.0,70.0,151.0,565.0,2.0,True,False,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,True,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
8689,True,18.0,False,0.0,0.0,0.0,0.0,0.0,False,False,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8690,False,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,False,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
8691,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,False,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
8692,False,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,False,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0

In [68]:
def write_output(df: pd.DataFrame, info: str) -> None:
    df.to_csv(f"{OUTPUT_DIR}{info}.csv", index=False)

### Train and see result

In [69]:
from random import randint
from sklearn.model_selection import train_test_split

X = df.drop(columns=['transported'])
y = df['transported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, shuffle=True, random_state=randint(1, 100))
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(7823, 29) (7823,) (870, 29) (870,)

In [70]:
from sklearn.ensemble import (
    RandomForestClassifier,
    GradientBoostingClassifier,
    AdaBoostClassifier,
)
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import SGDClassifier
from xgboost import XGBClassifier

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

# uncomment to run the desired model in the following list
models = [
    # "DecisionTreeClassifier(max_depth=3, random_state=randint(1, 100))",
    # "DecisionTreeClassifier(max_depth=10, random_state=randint(1, 100))",
    # "RandomForestClassifier()",
    "XGBClassifier()",
    # "SGDClassifier(max_iter=1000, tol=1e-3, random_state=randint(1, 100))"
]

SCORING = "accuracy"

model_params = {
    "RandomForestClassifier": 
                     {
                      'n_estimators': [90, 100, 115, 130, 500], 
                      'criterion': ['gini', 'entropy'],
                      'max_depth': range(2, 20, 1), 
                      'min_samples_leaf': range(1, 10, 1),
                      'min_samples_split': range(2, 10, 1),
                      'max_features': ['sqrt', 'log2']
                     },
    "SGDClassifier": {
                      'penalty': ['l1', 'l2'] , 
                      'class_weight': [{1:0.5, 0:0.5}, {1:0.4, 0:0.6}, {1:0.6, 0:0.4}, {1:0.7, 0:0.3}]
                     },
    "XGBClassifier": 
                     {
                      'gamma': [0 ,0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 6.4, 12.8, 25.6, 51.2, 102.4, 200],
                      'learning_rate': [0.01, 0.03, 0.06, 0.1, 0.15, 0.2, 0.25, 0.300000012, 0.4, 0.5, 0.6, 0.7],
                      'max_depth': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                      'n_estimators': [50, 65, 80, 100, 115, 130, 150],
                      'reg_alpha': [0, 0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 6.4, 12.8, 25.6, 51.2, 102.4, 200],
                      'reg_lambda': [0, 0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 6.4, 12.8, 25.6, 51.2, 102.4, 200]
                     }
}

# Load test data
final_test_raw = pd.read_csv(f"{INPUT_DIR}test.csv")
final_test_df = pd.read_csv(f"{INPUT_DIR}test.csv")
final_test_input = cleanup(final_test_df)
final_test_input = one_hot_encoding(final_test_input)

for model in models:
    model_name = model.split("(")[0]
    print(f"********** {model_name} **********")

    clf = eval(model)
    
    # GridSearchCV
    # grid_values = model_parameter[model_name]
    # clf = GridSearchCV(clf, param_grid = grid_values, scoring = SCORING, n_jobs=-1, return_train_score=True, verbose=1)
    
    # RandomizedSearchCV
    model_param = model_params[model_name]
    clf = RandomizedSearchCV(clf, model_param, n_iter=100, cv=5, scoring = SCORING, random_state=1)
    
    clf.fit(X_train, y_train)
    print(f"{model_name} best parameters: {clf.best_params_}")
    y_pred = clf.predict(X_test)

    # cross validation
    print(f"{model_name} train cross_val_score accuracy:")
    print(f"{cross_val_score(clf, X_train, y_train, cv=3, scoring='accuracy')}")

    # accuracy with test portion
    print(f"{model_name} test accuracy: {accuracy_score(y_test, y_pred)}")


    # Precision, recall & accuracy
    print(f"{model_name} test precision: {precision_score(y_test, y_pred)}")
    print(f"{model_name} test recall: {recall_score(y_test, y_pred)}")
    print(f"{model_name} test f1_score: {f1_score(y_test, y_pred)}")

    # Confusion matrix
    y_cf = cross_val_predict(clf, X_train, y_train, cv=3)
    print(f"{model_name} train confusion_matrix: {confusion_matrix(y_train, y_cf)}")

    # Run on submission test data and save result
    final_test_prediction = clf.predict(final_test_input)
    final_test_prediction = pd.DataFrame(final_test_prediction.astype(bool), columns=[SUBMISSION_OUTPUT_COLUMN])
    output_df = pd.concat([final_test_raw[SUBMISSION_ID_COLUMN], final_test_prediction[SUBMISSION_OUTPUT_COLUMN]], axis=1) 
    write_output(output_df, f"{model_name}_{f1_score(y_test, y_pred)}")

********** XGBClassifier **********
XGBClassifier best parameters: {'reg_lambda': 12.8, 'reg_alpha': 0.8, 'n_estimators': 130, 'max_depth': 8, 'learning_rate': 0.06, 'gamma': 0}
XGBClassifier train cross_val_score accuracy:
[0.80636503 0.79869632 0.78481013]
XGBClassifier test accuracy: 0.8206896551724138
XGBClassifier test precision: 0.8083700440528634
XGBClassifier test recall: 0.841743119266055
XGBClassifier test f1_score: 0.8247191011235955
XGBClassifier train confusion_matrix: [[3048  833]
 [ 758 3184]]